
@{
    ViewBag.Title = "TestingAction";
}

<h3>Control the robot with the arrow keys</h3>
<h2>@ViewBag.Key</h2>

<head>
    @section Scripts
{
        <script src="@Url.Content("~/Scripts/robotArrowNavigation.js")"></script>
    }
</head>





